@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.header {
    background-color: #5E33FF;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 4px;
    height: 7vh;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    margin-top: 13px;
    margin-left: 7px;
}

.input-search {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 20px;
    width: 300px;
    border-radius: 8px;
    margin-top: 7px;
    height: 30px;
}

.input-search input {
    border: none;
    background: transparent;
    outline: none;
    padding-left: 5px;
}

.input-search button {
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background: none;
    font-weight: bold;
    padding-right: 10px;
}

.main-text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 20px;
}

.main-text p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}

.map {
    border-radius: 8px;
    margin-left: 10px;
    margin-top: 10px;
}

.map-box {
    display: flex;
}

.record {
    background-color: white;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.75);
}

.datas {
    display: flex;
}

.datas-location {
    text-align: center;
    background-color: white;
    width: 300px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.75);
}

.datas-location h1{
    margin-top: 90px;
}