<body>
    <div class="header">
        <div class="title">
            <h1 class="title-principal">Weather Project</h1>
        </div>
        <div class="input-search">
            <input type="text" id="search-field">
            <button (click)="getAllInformations()">Buscar</button>
        </div>
        <div class="buttons">

        </div>
    </div>

    <div class="main">
        <div class="main-text">
            <h1>Weather Project</h1>
            <p>Criado por LG & DG</p>
        </div>

        <div class="map-box">
            <div id="map"></div>
        </div>

        <div class="datas">
            <div class="datas-location">
                <h1 *ngIf="main && main.temp">{{main.temp}}ºC</h1>
                <p>Atual</p>
            </div>

            <div class="datas-location">
                <h1 *ngIf="main && main.temp_min">{{main.temp_min}}ºC</h1>
                <p>Miníma</p>
            </div>

            <div class="datas-location">
                <h1 *ngIf="main && main.temp_max">{{main.temp_max}}ºC</h1>
                <p>Máxima</p>
            </div>

        </div>
    </div>


</body>